{#
/**
 * @file voter.html.twig
 * Default theme implementation to present Voter data.
 *
 * This template is used when viewing Voter pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_voter()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('voter') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
